@using Microsoft.AspNet.Identity
@{
    ViewBag.Title = "Home Page";
}







  <h2>  @ViewBag.Title</h2>



<hr />
<div class="jumbotron">
    @if (Request.IsAuthenticated)
    {

        <h2 class="display-3"> Hello , @User.Identity.GetUserName() </h2>

        <p class="lead">Welcom to Lexicon Lms </p>
        <hr class="my-4">

        <ul>

            @if (User.IsInRole("Student"))
            {
                <li>Student</li>

            }


            @if (User.IsInRole("Teacher"))

            {
                <li>Teacher</li>
            }

        </ul>
    }

    else
    {


        <p> Not looged in ,anonymos user</p>

    }
</div>
